<div class="container">
    <div class="card">
        <img src="{{dataId.thumbnail.path + '.' + dataId.thumbnail.extension}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{dataId.name}}</h5>
          <p class="card-text">{{dataId.description}}</p>
        </div>
      </div>
    <hr>
    <br>
      <h2>Series</h2>

      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="selector{{indice+1}}" title=" {{item.name}}" *ngFor="let item of dataId.series.items; let indice=index">
          <ng-template ngbPanelContent>
            <b>Fuente</b> {{item.resourceURI}}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <hr>
      <h2>Historias</h2>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="selector2{{indice+1}}" title=" {{item.name}}" *ngFor="let item of dataId.stories.items; let indice=index">
          <ng-template ngbPanelContent>
            <b>Fuente</b> {{item.resourceURI}}
            <br>
            <b>Tipo</b> {{item.type}}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

</div>


