
<div class="container">
  <br>
  <div class="jumbotron">
    <h1 class="display-4">{{dataFull.attributionText}}</h1>
    <p class="lead">{{dataFull.copyright}}.</p>
    <hr class="my-4">
    <p>Desarrollado por José Alberto.</p>
  </div>

  <br>
  <hr>
  <br>
    <div class="card-group">

        <div  *ngFor="let item of data" class="card" class="col-4">
          <img src="{{item.thumbnail.path + '.' + item.thumbnail.extension}}" class="card-img-top img-rounded" width="304" height="500">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text"><small class="text-muted">Ultima Modificación {{item.modified | date: 'dd/MM/yyyy'}}</small></p>
            <a href="#" class="btn btn-primary" [routerLink]="['/detail/', item.id]">Ver Detalle</a>
          </div>
        </div>
           
      </div>
</div>